@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: #ccc;
}
.flex {
    display: flex;

}
.todo {
    width: 300px;
    margin: 90px auto;
    background-color: #fff;
}

form {
    flex-direction: column;
}
input {
    background: none;
}
input[type="submit"] {
    font-weight: 600;
    color: #fff;
    background-color: red;
}

#todo-list {
    height: 500px;
    overflow: auto;
}

.chores {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    margin-bottom: 5px;
}

