body {
    background-color: #ccc;
}
.flex {
    display: flex;

}
.todo {
    width: 300px;
    margin: 100px auto 0;
    background-color: #fff;
}

form {
    flex-direction: column;
}
input {
    background: none;
}
input[type="submit"] {
    font-weight: 600;
    color: #fff;
    background-color: red;
}

#todo-list {
    height: 150px;
    overflow: auto;
}

.chores {
    font-size: 25px;
    font-weight: bolder;
    list-style: none;
    color: red;
}

