@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --color: #fff;
}

body {
    background-color: #000;
}
.flex {
    display: flex;

}
.todo {
    width: 300px;
    margin: 90px auto;
    background-color: #fff;
}

form {
    flex-direction: column;
}
input {
    background: none;
    border-style: none;
    background-color: #ccc;
}
input[type="submit"] {
    font-weight: 600;
    color: #121212;
    background-color: greenyellow;
}

#todo-list {
    height: 500px;
    overflow: auto;
}

.chores {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    margin-bottom: 5px;
    color: #141414;
}

::placeholder {
    color: var(--color);
    font-family: var(--font);
}

